################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EKartEFCore/.vs/EKartEFCore/FileContentIndex/28994d4f-f542-4084-8105-ad3ac440e2a1.vsidx
/EKartEFCore/.vs/EKartEFCore/v17/.suo
/EKartEFCore/.vs/EKartEFCore/v17/DocumentLayout.json
